* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(24, 1, 21);
    font-family: "Courier New", Courier, monospace;
}

#header {
    width: 100%;
    padding-top: 0.5em;
    color: rgb(243, 134, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-heading {
    margin-bottom: 0;
}

#nav {
    margin-bottom: 0.5em;
}

#nav-list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.nav-list-item {
    margin: 0.5em 0;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(150, 150, 221);
}

.section {
    margin: 0;
    padding: 0 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    color: rgb(243, 134, 228);
    margin: 0 0 0.5em 0;
}

.section-sub-heading {
    text-align: center;
    margin: 0.5em 0 1em 0;
}

#credits-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits-sub-section {
    width: 100%;
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(243, 134, 228);
    background: radial-gradient(rgb(24, 1, 21), rgb(58, 4, 51));
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
}

.attribution-second-line {
    margin-top: 0.5em;
    display: block;
}

.attribution-link {
    color: rgb(150, 150, 221);
}

#license-container {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0.5em 0;
    color: rgb(243, 134, 228);
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
    background: radial-gradient(rgb(24, 1, 21), rgb(58, 4, 51));
}

.license-text {
    margin: 0.75em 0;
}

.license-link {
    color: rgb(150, 150, 221);
    margin: 0.5em 0;
    display: block;
}

.attribution-link:hover,
.attribution-link:focus,
.license-link:hover,
.license-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: red;
}

@media (min-width: 950px) {
    #main-heading {
        margin-bottom: 0.5em;
    }
    #nav-list {
        flex-direction: row;
    }
    .nav-list-item {
        margin: 0 1em;
    }
    #credits-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .credits-sub-section {
        width: 30%;
        max-width: 25em;
    }
    #license-container {
        width: 50%;
    }
}
