* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
}

#canvas {
    z-index: 1;
    position: fixed;
    background-color: black;
}

#menu-button {
    z-index: 2;
    position: fixed;
    background-image: url("../assets/images/menu-button.png");
    background-size: cover;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#menu-button:hover,
#menu-button:focus {
    border: 2px solid rgb(14, 14, 82);
}

#main-menu[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(rgba(87, 10, 77, 0.9), rgba(92, 9, 81, 0.5));
    border: 1px solid rgb(226, 49, 203);
    padding: 1em 2.5em 1.5em 2.5em;
}

.main-menu-text {
    margin: 0.75em 0;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(233, 82, 213);
}

.button-row {
    display: flex;
    justify-content: flex-start;
}

.button {
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(226, 49, 203);
    color: #f3c4e3;
    background-color: rgb(92, 9, 81);
    margin: 0.5em 1em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.button:hover,
.button:focus {
    background-color: rgb(160, 25, 142);
}

.no-display {
    display: none;
}

#game-over-modal[open] {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.game-over-main-text {
    margin: 0.5em;
    font-size: 1.3rem;
    font-weight: 600;
}

.game-over-text {
    margin: 0.5em;
    font-size: 1.1rem;
}

@media (min-width: 900px) {
    #container {
        width: 900px;
        height: 600px;
    }
}
