* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
}

#canvas {
    z-index: 1;
    position: fixed;
    background-color: black;
}

#menu-button {
    z-index: 2;
    position: fixed;
    background-image: url("../assets/images/menu-button.png");
    background-size: cover;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#menu-button:hover,
#menu-button:focus {
    border: 2px solid rgb(14, 14, 82);
}

#active-ship-image,
#idle-ship-image {
    display: none;
}

@media (min-width: 900px) {
    #container {
        width: 900px;
        height: 600px;
    }
}
