* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@supports (height: 100dvh) {
    body {
        height: 100dvh;
    }
}

#main-container {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.intro-scene-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#intro-space-image {
    object-position: top right;
}

#intro-armada-image {
    object-position: center;
}

#message-box[open] {
    background: radial-gradient(black, #080808);
    color: #e7e7e7;
    font-weight: 600;
    width: 95%;
    padding: 0.25em;
    border: 7px ridge #d8d4d4;
}

.dialog-text-container {
    width: 100%;
    height: 100%;
    border: 1px solid #d8d4d4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

#dialog-first-line {
    margin: 0;
    padding: 2em 2em 0.25em 2em;
    min-height: 10em;
}

#dialog-second-line {
    margin: 0;
    padding: 0.25em 2em 1em 2em;
    min-height: 10em;
}

#skip-intro-button {
    align-self: center;
    max-width: 8em;
    max-height: 6em;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(226, 49, 203);
    color: rgb(243, 134, 228);
    background: radial-gradient(rgba(58, 4, 51), rgb(97, 8, 85));
    margin: 0.5em 1em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

#skip-intro-button:hover,
#skip-intro-button:focus {
    background: radial-gradient(rgb(44, 2, 39), rgb(58, 4, 51));
}

.no-display {
    display: none;
}

@media (min-width: 900px) {
    body {
        height: 100vh;
    }
    #main-container {
        max-width: 900px;
        max-height: 600px;
    }
    #message-box[open] {
        width: 40%;
    }
    #dialog-first-line {
        min-height: 7em;
    }
    #dialog-second-line {
        min-height: 7em;
    }
}
