* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
}

#canvas {
    z-index: 1;
    position: fixed;
    background-color: black;
}

#menu-button {
    z-index: 2;
    position: fixed;
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    border: 1px solid rgb(226, 49, 203);
    color: #f3c4e3;
    background-color: rgb(85, 8, 75);
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.15em 0.25em;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button-text {
    display: block;
}

#menu-button:hover,
#menu-button:focus {
    background-color: rgb(112, 13, 99);
}

.modal[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 4, 51);
    color: rgb(243, 134, 228);
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
    padding: 1em;
}

#main-menu[open],
#level-complete-modal[open],
#game-over-modal[open] {
    background-color: rgba(58, 4, 51, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.menu-main-heading {
    margin: 0.5em 0;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(247, 114, 229);
}

.button-row {
    width: 100%;
    margin: 0.125em 0;
    display: flex;
    justify-content: center;
}

.button {
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(226, 49, 203);
    color: rgb(243, 134, 228);
    background: radial-gradient(rgb(44, 2, 39), rgb(58, 4, 51));
    margin: 0.5em 1em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.button-row .button {
    width: 50%;
}

.button:hover,
.button:focus {
    background: radial-gradient(rgba(58, 4, 51), rgba(117, 13, 103));
}

.button:disabled {
    color: rgb(119, 100, 118);
    background: radial-gradient(rgba(58, 4, 51, 0.5), rgba(117, 13, 103, 0.3));
}

#difficulty-container {
    padding: 0.5em;
    text-align: center;
    border: 1px solid rgb(226, 49, 203);
    background-color: rgb(44, 2, 39);
    margin-bottom: 0.5em;
}

#difficulty-heading {
    margin-bottom: 0.5em;
}

#tutorial-difficulty-text {
    margin: 0.5em 0;
}

#easy-button,
#normal-button,
#hard-button {
    margin: 0 0.25em 0.5em 0.25em;
}

.no-display {
    display: none;
}

.game-over-main-text {
    margin: 0.5em;
    font-size: 1.3rem;
    font-weight: 600;
}

.game-over-text {
    margin: 0.5em;
    font-size: 1.1rem;
}

#tutorial-modal[open] {
    width: 95%;
    max-width: 850px;
    padding: 0.5em 1em;
}

#tutorial-modal-heading {
    user-select: none;
    -webkit-user-select: none;
    margin: 0.5em 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.tutorial-row {
    display: flex;
    flex-direction: column;
}

.tutorial-item-container {
    width: 100%;
    padding: 0.5em;
}

.tutorial-item-info {
    height: 100%;
    padding: 0.5em;
    background-color: rgba(24, 1, 21);
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial-item-image {
    margin-top: 0.5em 0;
}

.tutorial-item-title {
    margin: 0.5em 0;
}

.tutorial-item-description {
    text-align: center;
    margin: 0.5em 0;
}

#tutorial-first,
#tutorial-second {
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(24, 1, 21);
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    text-align: center;
}

#level-complete-text {
    font-size: 1.3rem;
    margin: 0.5em 0;
}

#stats-text-enemies,
#stats-text-health {
    background-color: rgb(24, 1, 21);
    border: 1px solid rgb(226, 49, 203);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0 0.75em 0;
}

#loading-text {
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #fff;
    font-size: 1.3rem;
}

#game-incomplete-text {
    max-width: 15em;
    text-align: center;
}

#mute-button {
    margin: 0.5em 0;
}

.menu-sub-heading,
#volume-control-label {
    margin-top: 0.5em;
    font-size: 1.2rem;
}

#volume-control-container {
    width: 100%;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#volume-control {
    width: 90%;
    accent-color: rgb(226, 49, 203);
    margin: 0.5em 0.5em 0 0.5em;
    cursor: pointer;
    color: rgb(226, 49, 203);
}

#volume-control::-moz-range-thumb,
#volume-control::-moz-range-track,
#volume-control::-moz-range-progress {
    display: none;
}

#volume-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
    user-select: none;
    -webkit-user-select: none;
}

.change-control-row {
    display: flex;
    flex-direction: column;
}

.change-control-key {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 13em;
}

#controls-menu-main-text {
    background-color: rgb(44, 2, 39);
    border: 1px solid rgb(226, 49, 203);
    padding: 0.5em;
    text-align: center;
    max-width: 24em;
    margin: 0 0 1em 0;
}

.control-key-text {
    margin: 0;
    padding: 0.25em;
}

#movement-controls-container {
    background-color: rgb(44, 2, 39);
    border: 1px solid rgb(226, 49, 203);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.light-text {
    color: #fff;
}

@media (min-width: 900px) {
    body {
        height: 100vh;
        background-color: rgb(75, 72, 74);
    }
    #container {
        width: 900px;
        height: 600px;
    }
    #tutorial-modal[open] {
        width: 75%;
    }
    .tutorial-row {
        flex-direction: row;
    }

    .tutorial-item-container {
        width: 50%;
    }
    #tutorial-first,
    #tutorial-second {
        max-width: 60%;
    }
    .change-control-row {
        flex-direction: row;
        justify-content: center;
    }
    #movement-controls-container {
        flex-direction: row;
        justify-content: center;
    }
}
